@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}
.main{
  margin-top: 15px;
}
.btn{
  font-weight: 600;
}
header .btn, header span{
  margin: 0 5px 5px 0;
}
label {
    margin-bottom: 0.1rem;
    font-size: 14px;
}
@media only screen and (max-width: 750px) {

}